html{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
} 
nav {
    background-color: #333;
    padding: 10px;
 }
 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 nav li {
    display: inline-block;
 }
 nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
 }
 nav a:hover {
    background-color: #555;
 }

.fa-twitter{
   font-size: 40px;
   color: rgb(0, 119, 255);
}

.fa-twitter:hover{
   color: rgb(80, 153, 238);
}